.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    mix-blend-mode: difference;

    h1 {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        background: linear-gradient(to right, #fff, #976060);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }

    p {
        font-size: 2.5rem;
        line-height: 1.6;
        color: #fff;
        max-width: 700px;
        margin-bottom: 1.5rem;

        span {
            color: #976060;
            font-weight: 600;
        }

        @media (max-width: 768px) {
            font-size: 1.2rem;

            &:last-child {
                font-size: 1rem;
            }
        }
    }
}



.nameContainer {
    display: inline-flex;
    flex-wrap: wrap;
    color: #976060;
    font-weight: 600;
    min-width: 300px;
    height: 1.5em;
}

.animatedLetterWhite {
    display: inline-block;
    position: relative;
    color: white !important; 
}

.animatedLetter {
    display: inline-block;
    position: relative;
}

.greetingContainer {
    height: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.heroText {
    font-size: 1.4rem !important;
    line-height: 1.6 !important;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem !important;
}

.heroContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
}